body {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.639), rgba(0, 0, 0, 0.639)), url(../img/dharma_therealdharma_gif.gif);
    background-size: cover;
    background-position: 50%;
    width: 100%;
    min-height: 100vh;
    color: #fff;
    background-repeat: repeat, no-repeat;
    font-family: 'Volkhov', serif;
}

.wrapper {
    text-align: center;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

.social-icons-wrapper {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 80px;
    text-align: center;
}

.social-icons-wrapper a {
    text-decoration: none;
    margin: 15px;
    color: #fff;
}

.social-icons-wrapper i {
    font-size: 20px;
    transition: all linear 0.3s;
}

.social-icons-wrapper i:hover {
    font-size: 30px;
    transition: all linear 0.3s;
}

.copyright-wrapper {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    position: absolute;
    bottom: 5px;
    font-size: 11px;
    text-transform: none;
    text-align: center;
}
